﻿:root{
	--main-font: 'Space Grotesk', sans-serif;
	font-size: 10px;
	--main-white:#FFFFFF;
	--secondary-white:#C4C4C4;
	--text-white: #A8A8A8;
	--background-btn-inactive:#6E9195;
	--background-btn-active:#27485D;
	--text-menu:#476D73;
	--text-hover:#0ea1fc;
	--main-black:#000000;
}
/* Головний лист */
.registration-section{
	/* max-width: 1500px; */
	min-width: 900px;
	background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
	font-family: var(--main-font);
	display: flex;
	justify-content: center;
	/* align-items: center; */
	position: relative;
	padding-top: 4%;
	padding-bottom: 4%;
}
.registration-container{
	display: flex;
	width: 75%;
}
/* Ліва колонка */
.form__container{
	width: 55%;
	background: var(--main-white);
}
.link__logo{
	text-decoration:none;
}
.logo{
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 1;
	background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	margin: 2%  0 4% 6.4%;
}
.form__title{
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.3;
	color: var(--main-black);
	text-align: center;
}
.form{
	width: 70%;
	margin: 0 auto;
}
.form__list__item{
	display: flex;
	flex-direction: column;
	/* margin-bottom: 10px; */
	margin-bottom: 1%;
}
.form__list__item label{
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.5;
	color: var(--main-black);
}
.item__second__title{
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.3;
	color: var(--text-white);
}
.item-text{
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.6;
	color: var(--text-white);
}
.select{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.14;
}
.btn-submit{
	margin-top: 8%;
}
.btn-submit__input{
	width: 100%;
	height: 34px;
	background: var(--background-btn-active);
	border: 1px solid #284A5E;
	box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
	border-radius: 4px;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 1.5;
	color: var(--main-white);
	cursor: pointer;
}
.form:invalid .btn-submit__input{
	background: var(--background-btn-inactive);
}
.form__container__text{
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 1.5;
	color: var(--secondary-white);
	text-align: center;
	margin: 2.4% 0 6% 0;
}
.form__container__text>a{
color: var(--text-menu);
}
/* Права колонка */
.info__container{
	width: 45%;
	background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
	box-shadow: 0px 0px 10px 9px #4E7577;
}
.info__container__menu{
	display: flex;
	justify-content: end;
	margin-bottom: 20%;
}
.info__container__menu>li{
	margin: 8px 12px;
}
.info__container__menu a{
	text-decoration: none;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 1.5;
	color: var(--main-white);
}
.link:hover,
.link:focus{
	color: var(--text-hover);	
}
.info__container__text{
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 1.25;
	color: var(--main-white);
	opacity: 0.6;
	display: flex;
	flex-direction: column;
	padding-left: 5%;
}

.info__container__text >span{
	font-size: 1.6rem;
	line-height: 1.5;
}
/* Фоновий візерунок */
.background-pattern{
	width: 40%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
.background-pattern > img{
	width: 100%;
}