
@media screen and (max-width: 1200px){
    /* Змінні */
    :root{
        font-size: 9px;
    }
    .section-1-bicicletas__img{
        height: 95%;
    }

}
@media screen and (max-width: 992px){
    /* Змінні */
    :root{
        font-size: 6.5px;
    }
    body.active{
        overflow: hidden;
    }
    /* Шапка  */
    .header-logo{
        font-size: 4rem;
    }
    .header-nav{
        width: 90%;
        position: relative;
    }
    .header__navigation{
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.288);
        position: absolute;
        top: 0;
        left: -20px;
        transform: translateX(-100vw);
        padding-top: 50px;
        overflow: auto;
        transition: all 0.6s;
    }
    .header__navigation.active{
        transform: translateX(0);
    } 
    .header-nav__navigation{
        width: 70%;
        height: 80%;
        flex-direction: column;
        background-color: rgb(27, 24, 24);
        padding-top: 60px;
        padding-left: 30px;
    }
    .navigation__item{
        margin: 5px;
    }
    .logo__menu{
        display: block;
    }

    .navigation__item__link{
        font-size: 3rem;
        width: 80%;
        border-radius: 10px;
        padding-left: 15px;
        padding-top: 8px;
    }
    .navigation__item__link:hover,
    .navigation__item__link:focus{
        background-color: rgba(49, 47, 47, 0.911);
        transition: all 0.3s;
    }
    .header-nav__btn{
        display: block;
    }
    /* Секція 1 Bicicletas */
    .section-1-bicicletas__img{
        height: 90%;
    }
    /* Секція 2 */
    .section-2__box{
        flex-wrap: wrap;
    }
    /* Секція 3 Tecnologia Avançada */
    .section-3-tecnologia{
        padding: 0 0 3% 0;
    }
    .section-3__box__title{
        width: 45%;
    }
    .section-3__box__text{
        width: 45%;
    }
    .section-3__box-2{
        width: 45%;
    }
    .section-3-tecnologia__img{
        width: 40%;
        height: 90%;
    }
    /* Секція 6 seguros */
    .card{
        min-width: 340px;
    }
}
@media screen and (max-width: 768px){
    /* Змінні */
    :root{
        font-size: 8px;
    }
     /* Секція 1 Bicicletas */
    .section-1-bicicletas__img{
        display: none;
    }
    .section-1-bicicletas__title,
    .section-1-bicicletas__text{
        width: 90%;
    }
    .section-1-bicicletas__btn{
        width: 70%;
    }
    /* Секція 2 */
    .section-2__box__item{
        width: 95%;
        margin: 2%;
    }
     /* Секція 3 Tecnologia Avançada */
    .section-3-tecnologia{
        padding: 0 0 3% 0;
    }
    .section-3__box__title{
        width: 90%;
    }
    .section-3__box__text{
        width: 90%;
        margin-bottom: 3%;
    }
    .section-3__box-2{
        width: 90%;
        flex-wrap: wrap;
    }
    .section-3__box-2__item{
        width: 90%;
        margin: 2%;
    }
    .section-3-tecnologia__img{
        display: none;
    }
 
    /* Секція 5 feedback */
    .section-5-feedback{
        flex-direction: column;
        align-items: center;
    }
    .section-5-feedback__img{
        width: 100%;
    }
    .section-5-feedback__box{
        width: 90%;
        margin: 6% 2% 2% 6%;
    }
    /* Секція 6 seguros */
    .section-6-seguros__cards{
        flex-wrap: wrap;
    }
    .card{
        width: 90%;
    }
    /* Підвал  */
    .footer{
        padding: 3.5% 0 2.9% 0%;
    }
    .footer-box{
        margin-bottom: 4%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-box__logo{
        margin-right:70%;
        margin-left: 10%;
    }
    .footer-box__contacts{
        margin: 5%;
    }
    .footer-box__nav{
        margin: 5%;
    }
    .direitos{
       margin-left: 10%;
    }
}