﻿
/* Змінні */
:root{
    --font-merriweather:'Merriweather', serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-style-italic: italic;
    --font-style-normal: normal;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-900: 900;
    font-size: 10px;
    --color-white:#ffffff;
    --color-F5F5F5:#F5F5F5;
    --color-FFBB00: #FFBB00;
    --color-F6AD09-btn: #F6AD09;
    --color-9C9C9C: #9C9C9C;
    --color-CCCCCC: #CCCCCC;
    --color-B2B2B2: #B2B2B2;
    --color-595959: #595959;
    --color-664400: #664400;
    --color-2E2E2E: #2E2E2E;
    --color-332200: #332200;
    --color-111111: #111111;
    --color-161616: #161616;
    --color-black:#000000;
}
/* Загальні стилі */
a{
    text-decoration: none;
    font-style: normal;
}
.link-focus:hover,
.link-focus:focus{
    color:var(--color-FFBB00);
    transition: all 0.2s;
}
body{
    background: var(--color-F5F5F5);
}
/* Прихований заголовок */
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* Головна сторінка */
.main-page{
    max-width: 1600px;
    width: 100%;
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-600);
    margin: 0 auto;
    background: var(--color-white);
    padding-top: 4%;
    overflow: hidden;
}

/* Шапка */
.header{
    max-width: 1600px;
    position: fixed;
    width: 100%;
    top: 0px;
    background: var(--color-black);
    margin: 0 auto;
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-500);
    z-index: 1;
}
.header-nav{
    width: 76%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.9% 0;
    margin: 0 auto;
}
.header-logo{
    font-size: 3.6rem;
    line-height: 0.8;
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 0.4% 0;
}
.header-nav__navigation{
    display: flex;
}
.navigation__item{
    margin: 0 5%;
}
.logo__menu{
    width: 30px;
    margin-right: 5px;
    display: none;
}
.logo__menu > img{
    width: 100%;
}
.navigation__item__link{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--color-white);
    padding: 5px 0;
}
.header-nav__btn{
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: none;
}
.header-nav__btn > img{
    width: 100%;
}
/* Секція 1 Bicicletas */
.section-1-bicicletas{
    position: relative;
    padding-bottom: 8%;
}
.section-1-bicicletas__box{
    background: var(--color-black);
    padding: 12% 12% 6% 12%;
}
.section-1-bicicletas__title{
    width: 55%;
    font-size: 6.4rem;
    line-height: 1.12;
    color: var(--color-white);
    margin-bottom: 2.6%;
}
.section-1-bicicletas__title>span{
    color: var(--color-FFBB00);
}
.section-1-bicicletas__text{
    width: 55%;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-400);
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-B2B2B2);
    margin-bottom: 2.6%;
}
.section-1-bicicletas__btn{
    width: 220px;
    height: 60px;
    background: var(--color-F6AD09-btn);
    border-radius: 5px;
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-600);
    font-size: 1.8rem;
    line-height: 1.33;
    color: var(--color-332200);
    text-transform: uppercase;
}
.section-1-bicicletas__btn:hover,
.section-1-bicicletas__btn:focus{
    background: #fcbc26; 
}
.section-1-bicicletas__img{
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 3%;
    overflow: hidden;
}
.section-1-bicicletas__img img{
    height: 100%;
}
/* Секція 2 */
.section-2{
    padding-bottom: 6.3%;
}
.section-2__title{
    font-size: 6.4rem;
    line-height: 1.12;
    color: var(--color-111111);
    padding-left: 12%;
    margin-bottom: 2.7%;
}
.section-2__title>span{
    color: var(--color-FFBB00);
}
.section-2__box{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.section-2__box__item{
    min-width: 280px;
    width: 30%;
    padding-bottom: 0.8%;
    margin: 1%;
}
.box__item__img{
    width: 100%;
}
.box__item__title{
    font-size: 3.2rem;
    line-height: 1.25;
    color: var(--color-111111);
    display: flex;
    align-items: center;
}
.box__item__title>span{
    padding-bottom: 10px;
    padding-right: 8px;
}
.box__item__text{
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-500);
    font-size: 1.8rem;
    line-height: 1.33;
    color: var(--color-595959);
    padding-left: 8%;
}
/* Секція 3 Tecnologia Avançada */
.section-3-tecnologia{
    padding: 8% 0 8% 0;
    position: relative;
}
.section-3__box{
    background: var(--color-111111);
    padding: 3.5% 0 3.5% 12%;
}
.section-3__title{
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-500);
    font-size: 2.4rem;
    line-height: 1.33;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: var(--color-B2B2B2);
    margin-bottom: 1.3%;
}
.section-3__box__title{
    width: 40%;
    font-size: 6.4rem;
    line-height: 1.12;
    color: var(--color-white);
    margin-bottom: 3%;
}
.section-3__box__title span{
    color: var(--color-FFBB00);
}
.section-3__box__text{
    width: 40%;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-400);
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-B2B2B2);
    margin-bottom: 2%;
}
.section-3__box-2__title{
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-FFBB00);
    border-bottom: 2px solid var(--color-FFBB00);
    display: inline-block;
    margin-bottom: 4.8%;
}
.section-3__box-2{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.section-3__box-2__item{
    width: 45%;
}
.box-2__item__title{
    font-weight: var(--font-weight-500);
    font-size: 2.4rem;
    line-height: 1.5;
    display: flex;
    color: var(--color-white);
    margin-bottom: 6%;
}
.box-2__item__title>span{
    padding-right: 3%;
    transform: translateY(-3px);
}
.box-2__item__text{
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-400);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--color-B2B2B2);
}
.section-3-tecnologia__img{
    width: 45%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 2%;
    overflow: hidden;
}
.section-3-tecnologia__img>img{
   height: 100%;
}
/* Секція 4 nossos parceiros. */
.section-4-parceiros{
    padding: 3% 0 6.5% 0;
}
.section-4-parceiros__tite{
    font-size: 6.4rem;
    line-height: 1.12;
    color: var(--color-111111);
    padding-left: 12%;
    margin-bottom: 2.7%;
}
.section-4-parceiros__tite > span{
    color: var(--color-FFBB00);
}
.section-4-parceiros__parceiros{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.parceiros__item{
    margin: .6%;
}
.parceiros__item__link{
    min-width: 230px;
    width: 20vw;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.parceiros__item__link:hover,
.parceiros__item__link:focus{
    border: 2px solid var(--color-B2B2B2);
    background:var(--color-F5F5F5);
    transition: all 0.2s;
}
/* Секція 5 feedback */
.section-5-feedback{
    width: 100%;
    background: var(--color-FFBB00);
    display: flex;
    align-items: flex-end;
}
.section-5-feedback__img{
    width: 45%;
}
.section-5-feedback__img > img{
    width: 100%;
}
.section-5-feedback__box{
    width: 45%;
    margin: 0 0 2% 5%;
}
.section-5-feedback__box > q{
    font-family: var(--font-merriweather);
    font-style: var(--font-style-italic);
    font-weight:var(--font-weight-900);
    font-size: 3.6rem;
    line-height: 1.33;
    color: var(--color-332200);
    display: block;
    margin-bottom: 2.4%;
}
.section-5-feedback__box > cite{
    font-size: 2.4rem;
    line-height: 1.33;
    color: var(--color-664400);
}
.upper-quotes{
    display: inline-block;  
    transform: translateY(-20px);
}
.bottom-quotes{
    display: inline-block;
    transform: translateY(20px);
}
/* Секція 6 seguros */
.section-6-seguros{
    width: 100%;
    background: var(--color-161616);
    padding: 4.5% 0 8% 0;
}
.section-6-seguros__title{
    font-size: 6.4rem;
    line-height: 1.12;
    color: var(--color-white);
    padding-left: 12%;
    margin-bottom: 4.5%;
}
.section-6-seguros__title > span{
    color: var(--color-FFBB00);
}
.section-6-seguros__cards{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    min-width: 370px;
    width: 33%;
    background: var(--color-black);
    border-radius: 7px;
    padding-top: 2%;
    margin: 1.2%;
    cursor: pointer;
}
.card:hover .card__title,
.card:focus .card__title{
    color: var(--color-FFBB00);
    transition: all 0.3s;
}
.card:hover,
.card:focus{
    transform: scale(1, 1.1);
}
.card__title__box{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 28px;
}
.card__title{
    font-size: 3.6rem;
    line-height: 1.33;
    color: var(--color-9C9C9C);
    text-transform: uppercase;
}
.card__price__box{
    text-align: end;
}
.card__price__box__title{
    font-size: 3.6rem;
    color: var(--color-white);
    
}
.card__price__box__text{
    font-size: 1.2rem;
    color: var(--color-9C9C9C);
}
.card__text__box{
    margin-left: 6%;
    margin-bottom: 7.8%;
}
.card__text{
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-500);
    font-size: 1.8rem;
    line-height: 1.33;
    color: var(--color-white);
    display: flex;
    margin-bottom: 3.5%;
}
.card__text > span{
    padding-right: 5px;
    transform: translateY(-3px);
}
.card__btn{
    width: 177px;
    height: 53px;
    background: var(--color-2E2E2E);
    border-radius: 5px;
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-600);
    font-size: 1.8rem;
    line-height: 1.33;
    color: var(--color-CCCCCC);
    text-transform: uppercase;
    margin-left: 10%;
    margin-bottom: 5.4%;
    cursor: pointer;
}
.card__btn:hover,
.card__btn:focus{
    background: #6b6666;
}
/* Підвал  */
.footer{
    background: var(--color-black);
    padding: 3.5% 0 2.9% 12%;
}
.footer-box{
    margin-bottom: 4%;
    display: flex;
}
.footer-box__logo{
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-500);
    font-size: 3.6rem;
    line-height: .8;
    color: var(--color-white);
    margin-right: 14%;
}
.footer-box__contacts{
    margin-right: 16%;
}
.footer-box__contacts__title{
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-500);
    font-size: 2.4rem;
    line-height: 1.33;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 14%;
}
.contacts{
    margin-bottom: 9%;
}
.contact{
    margin-bottom: 3px;
}
.contact__address{
    margin-top: 9%;
}
.contact__link{
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-400);
    font-size: 1.8rem;
    line-height: 1.77;
    letter-spacing: 0.015em;
    color: var(--color-B2B2B2);
}
.social-networks{
    display: flex;
}
.social-networks li{
    margin-right: 9%;
}
.footer-box__nav__title{
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-500);
    font-size: 2.4rem;
    line-height: 1.33;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 14%;
}
.navigation__link{
    font-weight: var(--font-weight-500);
    font-size: 1.8rem;
    line-height: 2;
    letter-spacing: 0.015em;
    color: var(--color-B2B2B2);
}

.direitos{
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-400);
    font-size: 1.8rem;
    line-height: 1.77;
    letter-spacing: 0.015em;
    color: var(--color-9C9C9C);
}