/* Загальні стилі */
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    font-style: normal;
}
/* Стилі шапки */
.header{
    max-width: 1700px;
    min-width: 900px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    box-sizing:border-box;
}
.yellow-logo,
.blue-logo{
    font-family: 'M PLUS 1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.blue-logo{
    color: #3E45E8;
}
.yellow-logo{
    color: #E8C23E;
}
/* Стилі основного контенту */
.main{
    max-width: 1700px;
    min-width: 900px;
}
/* Секція 1 */
.section-1{
    background: rgba(52, 52, 52, 0.7);/* Альтернативний фон */
    background-image: url(../image/img/background-image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 50vh;
    max-height: 100vh;
    box-sizing:border-box;
    padding-top: 11%;
    padding-bottom: 11%;
}
/*Прихований заголовок*/
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.section-1-element{
    background: url(../image/img/vertical-line.svg);
    background-repeat: no-repeat;
    display: inline-block;
    font-weight: 700;
    font-size: 42px;
    line-height: 175%;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0px 0px 0px 4%;
    padding-left: 3%;
    vertical-align:text-top;
}
/* Секція 2 */
.section-2-title{
    background: url(../image/img/horizontal-line.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    text-align: center;
    padding-bottom: 35px;
    width: 780px;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 25px;
}
.section-2-list{
    list-style: none;
    text-align: center;
    margin: 0px 0px 50px;
    padding: 0;
}
/* Секція 2 Стилі для карток*/
.section-2-list > li{
    display: inline-block;
    margin-left: 1.8%;
    margin-right: 1.8%;
    text-align: left;
    width: 25%;
    min-height: 435px;
    background: #FFFFFF;
    border: 5px solid #0D095F;
    border-radius: 30px;
    vertical-align: text-top;
}
.list-item-1{
    filter: drop-shadow(-16px 21px 40px rgba(0, 209, 255, 0.35));
}
.list-item-2{
    filter: drop-shadow(0px 21px 35px rgba(0, 209, 255, 0.35));
}
.list-item-3{
    filter: drop-shadow(16px 21px 40px rgba(0, 209, 255, 0.35));
}
.item-title{
    font-weight: 700;
    font-size: 24px;
    color: #0072DB;
    margin-top: 16px;
    margin-right: 10px;
    margin-bottom: 16px;
    margin-left: 10px;
}
.item-text{
    font-weight: 400;
    font-size: 20px;
    color: #FF9900;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
}
/* Секція 3 */
.section-3{
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
}
.section-3-title{
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 7px solid #0D095F;
    width: 560px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.section-3-link{
    display: inline-block;
}
.coteiner-link{
    width: 499px;
    height: 81px;
    background: #2A61F0;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 35px;
}
.coteiner-link:hover,/* Зміна кольору при наведенні на кнопку */
.coteiner-link:focus{
    background: #3E45E8;
}
.coteiner-link-text{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    margin: 0;
}
/* Стилі для підвалу */
.footer{
    max-width: 1700px;
    min-width: 900px;
    height: 233px;
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
    text-align: center;
    padding-top: 15px;
}
.footer-link{
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.1em;
    color: #A89D9D;
}
.footer-link-container{
    margin-bottom: 8px;
}
.social-network{
    margin: 10px;
}
.footer-link:hover,/* Зміна кольору при наведенні на адресу та телефон */
.footer-link:focus{
    color: #2A61F0;
}
.social-network:hover,/* Зміна кольору при наведенні на іконки соц.мереж */
.social-network:focus,
.color-cvg:hover,
.color-cvg:focus{
    fill: #2A61F0;
}
