@media screen and (min-width: 1600px){
    .main-page{
        max-width: 1600px;
    }
}
@media screen and (max-width: 1600px){
    :root{
        font-size: 14px;
    }
}
@media screen and (max-width: 1200px){
    :root{
        font-size: 12px;
    }
}
@media screen and (max-width: 992px){
    :root{
        font-size: 10px;
    }
}
@media screen and (max-width: 768px){
    /* :root{
        font-size: 10px;
    } */
    .grid-continer{
        width: 85%;
        display: block;
    }
    .box-1__img{
        width: 40%;
    }
    .grid-continer__box-1,
    .grid-continer__box-2,
    .grid-continer__box-3,
    .grid-continer__box-4,
    .grid-continer__box-5,
    .grid-continer__box-6{
        margin-bottom: 3%;
    }
}

