﻿/* Змінні */
:root{
    --main-font: 'Work Sans', sans-serif;
    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;
    font-size: 15px;
    --color-white:#ffffff;
    --color-FFB084: #FFB084;
    --color-FFFCFC: #FFFCFC;
    --color-29A71E: #29A71E;
    --color-3675B0:#3675B0;
    --color-E13535: #E13535;
    --color-black:#000000;
}
/* Головна сторінка */
.main-page{
    
    width: 100%;
    font-family:var(--main-font);
    margin: 0 auto;
    padding-top: 1%;
}

.grid-continer{
    width: 80%;
    margin: 0 auto;
    /* min-height: 80vh; */
    background: var(--color-FFB084);
    border-radius: 20px;
    font-weight: var(--font-weight-700);
    font-size: 1.4rem;
    line-height: 1.14;
    color: var(--color-black);
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr;  
    gap: 14px 22px;
    padding: 27px 45px 44px 38px;
    padding: 4% 6% 4% 6%;
}
.grid-continer__box-1{
    background: var(--color-white);
    box-shadow: 7px 7px 0px var(--color-black);
    border-radius: 15px;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-bottom: 4px;
}
.box-1__title{
    font-size: 2.4rem;
    line-height: 1.16;
    margin-bottom: 17px;   
    text-align: center;
}
.box-1__img{
    width: 50%;
    margin-bottom: 17px;
}
.box-1__img img{
    width: 100%;
}
.box-1__items ul{
    list-style: none;
}
.box-1__items li{
    font-weight: var(--font-weight-600);
    font-size: 1.2rem;
    line-height: 1.16;
    margin-bottom: 10px;
    list-style: none;
}
.box-1__items span{
    font-weight: var(--font-weight-400);
}

.grid-continer__box-2{
    background: var(--color-white);
    box-shadow: 7px 7px 0px var(--color-black);
    border-radius: 20px;
    padding: 15px 25px;
    grid-column-start: 1;
    grid-row-start: 5;
}
.grid-continer__box-3 p{
    font-weight: var(--font-weight-400);
}
.grid-continer__box-3{
    background: var(--color-white);
    box-shadow: 7px 7px 0px var(--color-black);
    border-radius: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 15px 25px;
}
.grid-continer__box-4{
    background: var(--color-white);
    box-shadow: 7px 7px 0px var(--color-29A71E);
    border-radius: 20px;
    padding: 15px 25px;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid-continer__box-4 h2{
    color: var(--color-29A71E);
    margin-bottom: 10px;
}
.grid-continer__box-4 ul{
    margin-left: 20px;
}
.grid-continer__box-4 li{
    font-weight: var(--font-weight-400);
}
.grid-continer__box-5{
    background: var(--color-white);
    box-shadow: 7px 7px 0px var(--color-3675B0);
    border-radius: 20px;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 6;
    padding: 15px 25px;
}
.grid-continer__box-5 h2{
    color: var(--color-3675B0);
    margin-bottom: 10px;
}
.grid-continer__box-5 ul{
    margin-left: 25px;
}
.grid-continer__box-5 li{
    font-weight: var(--font-weight-400);
    margin-bottom: 3px;
}

.grid-continer__box-6{
    background: var(--color-white);
    box-shadow: 7px 7px 0px var(--color-E13535);
    border-radius: 20px;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 15px 25px;
}
.grid-continer__box-6 h2{
    color: var(--color-E13535);
    margin-bottom: 10px;
}
.grid-continer__box-6 ul{
    margin-left: 25px;
}
.grid-continer__box-6 li{
    font-weight: var(--font-weight-400);
    margin-bottom: 4px;
}
.grid-continer__box-7{
    background: var(--color-white);
    box-shadow: 7px 7px 0px var(--color-black);
    border-radius: 20px;
    padding: 15px 25px;
    grid-row-start: 4;
    grid-row-end: 6;
}
.grid-continer__box-7 h2{
    margin-bottom: 10px;
}
.grid-continer__box-7 p{
    font-weight: var(--font-weight-400);
}