/* Глобальні стилі */
body{
    margin: 0;
}
/* Загальні стилі */
.main-page{
    max-width: 1900px;
    min-width: 900px;
}
a{
    text-decoration: none;
    font-style: normal; 
}
ul,h1,h2,h3{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Стилі шапки */
.header{
    width: 100%;
    background: url(../image/img/background-header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-top: 9%;
    padding-bottom: 18%;
}
.header__title{
    width: 65%;
    display:inline-block;
    box-sizing:border-box;
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* Стилі основного контенту */
.main-content{
    background: #F5F5F5;
    padding-left: 5%;
    padding-right: 5%;
}
.menu{
    padding-top: 2%;
}
.menu__title{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 2%;
}
.menu__items{
    text-align: center;
    margin-bottom: 3%;
}
.menu__items>li{
    display: inline-block;
    width: 31%;
}
.menu__items__item2{
    padding-left: 3%;
    padding-right: 3%;
}
.item-1,
.item-2,
.item-3{
    width: 100%;
    background: #231B0C;
    padding-top: 10%;
    padding-bottom: 15%;
    box-sizing:border-box;
}
.item-1:hover,
.item-2:hover,
.item-3:hover,
.item-1:focus,
.item-2:focus,
.item-3:focus{
    filter: drop-shadow(0px 0px 10px #231B0C);
    transition: all 0.1s;
}
.item-1__title,
.item-2__title,
.item-3__title{
    display: inline-block;
    margin-bottom: 18%;
}
.item-1__img,
.item-2__img,
.item-3__img{
    width: 75%;
}
.banner{
    margin-bottom: 3%;
}
.banner__img{
    width: 100%;
}
/* Стилі підвалу */
.footer{
    width: 100%;
    background-color: #150F02;
    text-align: center;
    padding-top: 2.6%;
    padding-bottom: 5%;
    box-sizing:border-box;
}
.footer__nav{
    margin-bottom: 12px;
}
.footer__nav__items-1{
    display: inline-block;
    padding-right: 27%;
    text-align: left;
}
.nav__items-1__item-1{
    display: block;
    margin-bottom: 27px;
}
.nav__items-1__item-2{
    display: block;
}
.footer__nav__items-2{
    display: inline-block;
    text-align: left;
}
.nav__items-2__item-1{
    display: block;
    margin-bottom: 27px;
}
.nav__items-2__item-2{
    display: block;
}
.address__title{
    width: 315px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    text-transform: uppercase;
    border-bottom: 10px solid #FF6B00;
    display:inline-block;
    padding-bottom: 6px;
    margin-bottom: 24px;
}
.address__link__svg{
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: text-top;
}
.link__svg3{
    margin-top: 3px;
}
.address__link:hover .address__link__svg path,
.address__link:focus .address__link__svg path{
    fill:#2A61F0;
    transition: all 0.1s;
}