
@media screen and (max-width: 1200px){
    .form__3{
        flex-direction: column-reverse;
    }
    .check__box{
       justify-content: space-between; 
    }
    .check__label{
        width: 80px;
    }
}
@media screen and (max-width: 992px){
    .header-form{
        flex-direction: column;
        align-items: center;
    }
    .header-form__title,
    .header-form__text{
        width: 80%;
    }
    .form__1,
    .form__2,
    .form__3,
    .form__4,
    .form__5{
        flex-direction: column;
    }
    .form__5{
        align-items: center;
        text-align: center;
     }
     .btn__submit{
        width: 65%;
        margin-top: 4%;
     }
}
@media screen and (max-width: 768px){
    .form-box{
       width: 95%; 
       margin: 0 auto;
     }
}
