﻿:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-400: 400;
    --font-700: 700;
    --color-FFFFFF: #FFFFFF;
    --color-D1D1D1: #D1D1D1;
    --color-0000ff: #0000ff;
    --color-4743E0: #4743E0;
    --color-42505C: #42505C;
    --color-333333: #333333;
    --color-404040: #404040;
    --color-000000: #000000;
    font-size: 10px;
}
.link{
    text-decoration: none;
}
.link:hover,
.link:focus{
    color: var(--color-0000ff);
}
.main-page{
    width: 100%;
    font-family: var(--font-roboto);
}
.form-page{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background: url(../image/main-page-img/background.svg);
    background-repeat: no-repeat;
    background-position-x:right;
    background-position-y: bottom;
    font-family: var(--font-roboto);
    font-weight: var(--font-400);
}
.form-box{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.02);
    padding: 5% 3% 0 3%;
}
.link__svg{ 
    margin-left: 10px;
}
.link__text{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--color-4743E0);
    margin-bottom: 5%;
}
.header-form{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px dashed var(--color-000000);
    padding-bottom: 5%;
}
.header-form__title{
    width: 45%;
    font-weight: var(--font-400);
    font-size: 5.4rem;
    line-height:1.26;
    color: var(--color-42505C);
}
.header-form__text{
    width: 45%;
    font-size: 1.4rem;
    line-height: 2;
    color: var(--color-404040); 
    opacity: 0.99;
}
.registration__form{
    width: 100%;
    font-weight: var(--font-400);
    font-size: 1.4rem;
    line-height: 2;
    padding-top: 5%;
}
.registration__form input{
    font-weight: var(--font-400);
    font-size: 1.4rem;
    line-height: 2;
    color: var(--color-000000);
}
.row{
    width: 100%;
}
.form__1{
    margin-bottom: 5%;
}
.form__2{
    margin-bottom: 7%;
}
.form__3{
    margin-bottom: 10%;
}
.form__3 span{
    font-weight: var(--font-400);
    font-size: 1.2rem;
    line-height: 2.3;
    color: var(--color-333333);
    opacity: 0.34;
}
.form__4{
    margin-bottom: 12%;
}
.form__5{
     margin-bottom: 12%;
}
.form__5 input{
    margin-right: 15px;
    padding: 2%;
}
.input-label{
    display: flex;
    justify-content: space-between;
}
.btn__hint{
    background: none;
    border: none;
}
.btn__hint:hover,
.btn__hint:focus{
    background: none;
    border: none; 
}
.btn__hint:hover path,
.btn__hint:focus path{
    opacity:1;
    transition: all 0.3s;
}
.check__box{
    display: flex;
}
.check__input{
    display: none;
}
.check__label{
    width: 65px;
    text-align: center;
    border: 1px solid var(--color-D1D1D1);
    font-weight: var(--font-400);
    font-size: 1.4rem;
    line-height: 2.5;
    opacity: 0.5;
}
.check__input:checked+label{
    border: 2px solid var(--color-4743E0);
    color: var(--color-4743E0);
    opacity: 1;
}
.btn__submit{
    width: 102px;
    height: 48px;
    background: var(--color-4743E0);
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: var(--font-700);
    font-size: 1.4rem;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.25px;
    color: var(--color-FFFFFF);
}
.registration__form:invalid .btn__submit{
	background: rgba(72, 67, 224, 0.7);
}
