﻿:root{
    /* Мої шрифти */
    --main-font:'PT Sans', sans-serif;
    font-size:10px;
    /* Мої кольори */
    --main-white: #FFFFFF;
    --background-blue: #243B93; 
    --main-dark-text:#202846;
    --secondary-text:#353C57;
    --main-black: #000000; 
    --background-hoveer:#EF075B;  
}
/* Загальні стилі */
.main-page{
    max-width: 100%;
    min-width: 1000px;
    font-family: var(--main-font);
}
a{
    text-decoration: none;
    font-style: normal;
}
.bth-up{
    position: fixed;
    bottom: 4vh;
    left: 87vw;
}
.link:hover,
.link:focus{
    color:var(--background-hoveer);
}
.link-bth-up:hover svg path,
.link-bth-up:focus svg path{
    fill: var(--background-hoveer);
}
/* Стиль шапки */
.header{
    width: 100%;
    background: var(--background-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5% 0;
    z-index: 1;
    position: sticky;
    top: 0;
    box-sizing:border-box;
}
.header__logo{
    margin-right: 5%;
}
.header__nav__items{
    display: flex;
    align-items: center;
}
.header__nav__item{
    margin-left: 2vw;
    text-align: center;
}
.header__nav__item__link{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.31;
    letter-spacing: 0.16em;
    color: var(--main-white);
    text-transform: uppercase;
}
.language-page-img{
    margin-left: 3%;
}
.language-page{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.28; 
    color: var(--main-white);
    text-transform: uppercase;
    margin-left: 10px;
}
/* Основний контент*/
.main-content{
    width: 100%;
    background: #FBE4FF;
}
/* Секція меню */
.menu__title{
    font-style: italic;
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 1.29;
    color: var(--main-dark-text);
    background: #BFF0FF;
    padding: 0.7% 0 0.7% 21%;
    margin-bottom: 1.6%;
    box-sizing:border-box;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__control-panel{
    width: 80vw;
    display: flex;
    align-items: center;
    background: var(--main-white);
    padding: 0.62% 0;
    margin-bottom: 1.6%;
}
.control-panel__text{
    width: 100%;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 1.28;
    color: rgba(0, 0, 0, 0.61);
    text-align: center;
}
.control-panel__button{
    font-size: 3.3rem;
    color: var(--main-black);
    margin-right: 0.8%;
}
.menu__items{
    width: 80vw;
}
/* Стилі карток меню */
.menu__item-card{
    background: linear-gradient(87.05deg, #A9CBD6 0%, #01AFE6 100%);
    display: flex;
    align-items: center;
    padding: 2% 2% 2% 3%;
    margin-bottom: 3%;
    cursor: pointer;
    position: relative;
}
.card__img{
    width: 40%;
    margin-right: 2%;
}
.card__img>img{
    width: 100%;
}
.card__info{
    width: 58%;
}
.card__title{
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.3;
    color: var(--secondary-text);
    border-bottom: 3px solid var(--main-white);
    margin-bottom: 2%;
}
.card__text{
    height: 160px;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.27;
    color: var(--main-dark-text);
    background: #EDFBFF;
    padding: 1% 2% 2% 2%;
    overflow: auto;
}
.card__star{
    position: absolute;
    top: 6px;
    right: 10px;
}
.card__btn{
    width: 210px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.29;
    text-align: center;
    padding: 8px 0px; 
    color: var(--main-white);
    background: var(--background-blue);
    border-radius: 30px;
    position: absolute;
    right: -35px;
    bottom: 15px;
}
.menu__item-card:hover,
.menu__item-card:focus{
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}
.menu__item-card:hover .card__btn,
.menu__item-card:focus .card__btn{
    background: var(--background-hoveer);
}
.menu__item-card:hover .card__star svg path,
.menu__item-card:focus .card__star svg path{
    fill: #FFF500;
}
/* Секція особистий кабінет */
.personal-office__title{
    font-style: italic;
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 1.29;
    color: var(--background-blue);
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    padding: 0.7% 0 0.7% 21%;
    margin-bottom: 1.82%;
    box-sizing:border-box;
}
.personal-office__сards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.9%;
}
.profile-card{
    width: 75vw;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    display: flex;
    align-items: center;
    padding: 2.3% 2% 2.3% 3%;
    margin-bottom: 1%;
}
.profile-card__avatar{
    text-align: center;
    margin-right: 3%;
}
.profile-card__avatar__img{
    margin-bottom: 4%;
}
.btn__change-avatar,
.btn__settings{
    width: 250px;
    background: var(--background-blue);
    border-radius: 30px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.29;
    color: var(--main-white);
    text-align: center;
    padding: 4% 0;
    margin-top: 10%;
    box-sizing:border-box;
}
.btn-hover:hover,
.btn-hover:focus{
    background: var(--background-hoveer);
}
.profile-card__information{
    width: 700px;
}
.information__text{
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.3;
    color: var(--secondary-text);
    padding: 1.44% 0;
    margin-bottom: .73%;
    box-sizing:border-box;
}
.information__text__second{
    font-weight: 400;
}
.text-border{
    border-bottom: 3px solid  var(--main-white);
}
.btn__go-out{
    width: 174px;
    background: var(--background-blue);
    border-radius: 30px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.29;
    color: var(--main-white);
    text-transform: uppercase;
    text-align: center;
    padding: 5.8% 0;
    box-sizing:border-box;
}
/* Секція контакти */
.section-contacts__title{
    font-style: italic;
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 1.29;
    color: var(--background-blue);
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    padding: 0.7% 0 0.7% 21%;
    margin-bottom: 1.31%;
    box-sizing:border-box;
}
.container__contacts{
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.contacts{
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.31%;
}
.contacts__address{
    margin-right: 8%;
}
.contacts__address__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contacts__address__list li{
    margin: 0 3% 1.75% 3%;
}
.address__text{
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.28;
    color: var(--main-black);
    border-bottom: 3px solid var(--main-dark-text);
    padding-bottom: 1.6%;
}
.address__text__second{
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.3;
    color: var(--main-black);
}
.iframe-maps{
    width: 35%;
    max-height: 290px;
    border: 3px solid var(--background-blue);
    border-radius: 40px;
}
.footer{
    background: var(--background-blue);
    padding: 1.2% 0 1.2% 21%;
    box-sizing:border-box;
}
.footer__link{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.31;
    letter-spacing: 0.16em;
    color: var(--main-white);
}