﻿@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;600;700&display=swap');
:root{
    --font-inter: 'Inter', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-work-sans: 'Work Sans', sans-serif;
    font-size:10px;
    --main-white:#FFFFFF;
    --secondary-white:#D5D5D5;
    --main-yellow:#FFB742;
    --main-background:#212529;
    --main-black:#1C1C1C;
}
/* Загальні стилі */
a{
    text-decoration: none;
    font-style: normal;
}
.link-focus:hover,
.link-focus:focus{
    color: var(--main-yellow);
    transition: all 0.1s;
}
.btn__hire-me{
    width: 121px;
    height: 54px;
    background: none;
    border: 2px solid var(--main-yellow);
    border-radius: 50px;
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--main-yellow);
    text-align: center;
}
.btn__section{
    height: 42px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--main-yellow);
    padding-left: 25px;
    padding-right: 25px;
}
.btn-focus:hover,
.btn-focus:focus{
    color: var(--main-background);
    background: var(--main-yellow);
    transition: all 0.1s;
}
.main-page{
    max-width: 100%;
    min-width: 900px;
    padding-top: 17px;
    background: var(--main-background);
}
/* Шапка */
.header{
    font-family: var(--font-poppins);
    width: 93%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: .7%;
}
.header__nav__list{
    display: flex;
}
.list__item{
    margin: 0 1vw;
}
.list__item__text{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: var(--main-white);
}
/* Секція 1 */
.section-1{
    width: 90%;
    font-family: var(--font-inter);
    text-align: center;
    margin: 0 auto;
    padding: 7.4% 0 15.3% 0;
}
.main-content__title{
    font-size: 3.2rem;
    line-height: 1.6;
    text-transform: capitalize;
    color: var(--main-white);
}
.main-content__title__link{
    text-decoration-line: underline;
    color: var(--main-yellow);
}
.section-1__title{
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1.9;
    text-transform: capitalize;
    color: var(--main-white);
}
.section-1__text{
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.1;
    text-transform: capitalize;
    color: var(--main-white);
    margin-bottom: 1.6%;
}
.section-1__img{
    margin-bottom: 10.5%;
}
.section-1__cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
/* Стилі карток */
.card{
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    padding: 1.9% 2%;
    cursor: pointer;
}
.card__title{
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.25;
    text-transform: capitalize;
    color: var(--main-yellow);
}
.card__text{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9;
    text-transform: capitalize;
    color: var(--main-white);
}
.arrow{
    font-weight: 500;
    font-size: 16px;
    color: #B3B3B3;
}
.card:hover,
.card:focus{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
    transition: all 0.2s;
}
.card:hover .text-focus,
.card:focus .text-focus{
    color: var(--main-background);
    transition: all 0.2s;
}
/* Секція 2 */
.section-2{
    width: 93%;
    font-family: var(--font-poppins);
    margin: 0 auto  1.34% auto;
    display: flex;
}
.section-2__img{
    width: 45%;
    margin: 2.3%  5% 0 0;
}
.section-2__content{
    width: 55%;
}

.section-2__content__title{
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 0.6;
    color: var(--main-white);
    margin: 1.8% 0 4.5% 0;
}
.section-2__content__text{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.87;
    color: var(--secondary-white);
    margin-bottom: 8.5%;
}
/* Секція 3 */
.section-3{
    width: 93%;
    margin: 2% auto 9.4% auto;
    display: flex;
    justify-content: space-between;
}
.section-3__content{
    width: 54%;
}
.section-3__title{
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1.16;
    color: var(--main-white);
    margin-bottom: 4.3%;
}
.section-3__text{
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.87; 
    color: var(--main-white);
    margin-bottom: 9.5%;
}
.section-3__items{
    width: 46%;
    max-width: 645px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
}
.item{
    width: 77px;
    height: 77px;
    margin: 1.2%;
}
.item__img{
    width: 100%;
    height: 100%;
    background: #383E45;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.item__img:hover,
.item__img:focus{
    background: rgba(255, 183, 66, 0.5);
    transition: all 0.2s;
}
/* Секція 4 */
.section-4{
    width: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto 7.3% auto;
}
.section-4__title{
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1.21;
    color: var(--main-white);
    margin-bottom: 2.3%;
}
.section-4__project-menu{
    width: 652px;
    display: flex;
    justify-content:space-between;
    margin-bottom: 3.7%;
}
.menu__btn__text{
    border-radius: 3px;
    background: none;
    border: none;
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.87;
    color: var(--main-white);
    text-align: center;
    padding: 5px 20px;
    cursor: pointer;
}
.menu__btn__text:hover,
.menu__btn__text:focus{
    background: var(--main-yellow);
    color: var(--main-background);
    transition: all 0.2s;
}
.section-4__projects{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.projects{
    width: 31.7%;
}
.project__img{
    margin-bottom: 7.7%;
}
.project__img > img{
    width: 100%;
    border-radius: 6px;
}
/* Секція 5 */
.section-5{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.section-5__title{
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 3.9rem;
    line-height: 1.17;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-white);
    margin-bottom: 7%;
}
.section-5__items{
    width: 93.9%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 19.5% auto;
}
.section-5__item{
    width: 31.1%;
}
.section-5__item > img{
    width: 100%;
}
/* Підвал */
.footer{
    width: 100%;
    height: 32.7vw;
    background: var(--main-black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__container{
    width: 93%;
    display: flex;
    justify-content: space-between;
}
.footer__container-name{
    width: 22%;
}
.container-name__title{
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 100%;
    color: var(--main-yellow);
}
.container-name__text{
    font-family: var(--font-work-sans);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2;
    color: #D4D4D4;
}

.footer__container-menu{
    width: 18%;
}
.container-menu__title,
.social-networks__title,
.container__info__title{
    font-family: 'Work Sans';;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: #F5FBF2;
}
.container-menu{
    /* width: 145px;
    width: 11%; */
}
.container-menu__link>a,
.social-network__link>a,
.container__info__text{
    font-family: var(--font-work-sans);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2;
    color: #7B7B7B;
}
.footer__container__social-networks{
    width: 18%;
}
.footer__container__info{
    width: 22%;
}
